{% load static wagtailcore_tags allauth i18n %}



<!-- Case 1: 等待发布 !userchoice & !question -->
{% if not question.published and question.id not in answered_question_id %}
<div id="accordion-cloze-{{ question.id }}" class="accordion accordion-stacked">
    <!-- Accordion card 1 -->
    <div class="card">
        <!-- Card Title -->
        <div class="card-header py-4 color" id="heading-cloze-{{ question.id }}-cloze-{{ question.id }}" data-toggle="collapse"
            role="button" data-target="#collapse-cloze-{{ question.id }}-{{ question.id }}" aria-expanded="false"
            aria-controls="collapse-cloze-{{ question.id }}-{{ question.id }}">
            <h6 class="mb-0"><i data-feather="file" class="mr-3"></i>
                <span class="badge badge-info mr-4">TBA</span>
                填空题 {{ question.question_text }}
            </h6>
        </div>


        <!-- Card Content -->
        <div id="collapse-cloze-{{ question.id }}-{{ question.id }}" class="collapse"
            aria-labelledby="heading-cloze-{{ question.id }}-{{ question.id }}" data-parent="#accordion-cloze-{{ question.id }}">
            <div class="card-body">
                <div class="container position-relative zindex-100">
                    <div class="row justify-content-center">
                        <p> 等待发布…… </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


<!-- Case 2: 等待做题 !userchoice & question  -->
{% if question.published and question.id not in answered_question_id%}
<div id="accordion-cloze-{{ question.id }}" class="accordion accordion-stacked">
    <!-- Accordion card 1 -->
    <div class="card">
        <!-- Card Title -->
        <div class="card-header py-4 color" id="heading-cloze-{{ question.id }}-{{ question.id }}" data-toggle="collapse"
            role="button" data-target="#collapse-cloze-{{ question.id }}-{{ question.id }}" aria-expanded="false"
            aria-controls="collapse-cloze-{{ question.id }}-{{ question.id }}">
            <h6 class="mb-0"><i data-feather="file" class="mr-3"></i>
                <span class="badge badge-warning mr-4">Waiting</span>
                填空题 {{ question.question_text }}
            </h6>
        </div>


        <!-- Card Content -->
        <div id="collapse-cloze-{{ question.id }}-{{ question.id }}" class="collapse"
            aria-labelledby="heading-cloze-{{ question.id }}-{{ question.id }}" data-parent="#accordion-cloze-{{ question.id }}">
            <div class="card-body">
                <!-- 题目 -->
                <div class="container position-relative zindex-100">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="row justify-content-center">
                                <p>{{ question.body | richtext }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- 选项 -->
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="row justify-content-center">
                                <div class="mb-3">
                                    <form action="{% url 'cloze_polls:vote' question.id %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="answer" name="answer" placeholder="请输入答案">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" value="Vote"
                                                class="btn btn-block btn-lg btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


<!-- Case 3: 等待结果 userchoice & question  -->
{% if question.published and question.id in answered_question_id %}
<div id="accordion-cloze-{{ question.id }}" class="accordion accordion-stacked">
    <!-- Accordion card 1 -->
    <div class="card">
        <!-- Card Title -->
        <div class="card-header py-4 color" id="heading-cloze-{{ question.id }}-{{ question.id }}" data-toggle="collapse"
            role="button" data-target="#collapse-cloze-{{ question.id }}-{{ question.id }}" aria-expanded="false"
            aria-controls="collapse-cloze-{{ question.id }}-{{ question.id }}">
            <h6 class="mb-0"><i data-feather="file" class="mr-3"></i>
                <span class="badge badge-success mr-4">Done</span>
                填空题 {{ question.question_text }}
            </h6>
        </div>


        <!-- Card Content -->
        <div id="collapse-cloze-{{ question.id }}-{{ question.id }}" class="collapse"
            aria-labelledby="heading-cloze-{{ question.id }}-{{ question.id }}" data-parent="#accordion-cloze-{{ question.id }}">
            <div class="card-body">
                <!-- 题目 -->
                <div class="container position-relative zindex-100">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="row justify-content-center">
                                <p>{{ question.body | richtext }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- 选项 -->
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <!-- Options -->
                            <div class="row justify-content-center">
                                <div class="mb-3">
                                    {% for choice in question.choices.all %}
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="choice" class="custom-control-input" disabled>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="row justify-content-center">
                            <p>你已经回答了这个问题。</p>
                            <p>你的答案是
                                <span class="badge badge-soft-primary">
                                    {% for userchoice in cloze_user_choice %}
                                    {% if userchoice.publish.question == question %}
                                    {{ userchoice.answer }}
                                    {% endif %}
                                    {% endfor %}
                                </span>。
                            </p>
                            <p>请等待问题结束后查看正确答案。
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


<!-- Case 4: 答案 userchoice & !question  -->
{% if not question.published and question.id in answered_question_id%}
<div id="accordion-cloze-{{ question.id }}" class="accordion accordion-stacked">
    <!-- Accordion card 1 -->
    <div class="card">
        <!-- Card Title -->
        <div class="card-header py-4 color" id="heading-cloze-{{ question.id }}-{{ question.id }}" data-toggle="collapse"
            role="button" data-target="#collapse-cloze-{{ question.id }}-{{ question.id }}" aria-expanded="false"
            aria-controls="collapse-cloze-{{ question.id }}-{{ question.id }}">
            <h6 class="mb-0"><i data-feather="file" class="mr-3"></i>
                {% for userchoice in cloze_user_choice %}
                {% if userchoice.publish.question == question %}
                    {% if userchoice.correct == True %}
                    <span class="badge badge-success mr-4">正确</span>
                    {% else %}
                    <span class="badge badge-danger mr-4">错误</span>
                    {% endif %}
                    填空题 {{ question.question_text }}
                    {% endif %}
                    {% endfor %}
            </h6>
        </div>


        <!-- Card Content -->
        <div id="collapse-cloze-{{ question.id }}-{{ question.id }}" class="collapse"
            aria-labelledby="heading-cloze-{{ question.id }}-{{ question.id }}" data-parent="#accordion-cloze-{{ question.id }}">
            <div class="card-body">
                <div class="container position-relative zindex-100">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="row justify-content-center">
                                <p>{{ question.body | richtext }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- 选项 -->
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <!-- Options -->
                            <div class="row justify-content-center">
                                <div class="mb-3">
                                    {% for choice in question.choices.all %}
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="choice" class="custom-control-input" disabled>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <p>
                        {% for userchoice in cloze_user_choice %}
                        {% if userchoice.publish.question == question %}
                       
                        {% endif %}
                        {% endfor %}

                        {% for userchoice in cloze_user_choice %}
                        {% if userchoice.publish.question == question %}
                            你的答案是
                            {% if userchoice.correct == True %}
                            <span class="badge badge-soft-success">{{ userchoice.answer }}</span>.
                            {% else %}
                            <span class="badge badge-soft-danger">{{ userchoice.answer }}</span>.
                            正确答案是
                            <span class="badge badge-soft-success">
                                {{ userchoice.publish.question.correct }}
                            </span>.
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}