{% extends "base_home.html" %}

{% load wagtailcore_tags static wagtailmarkdown %}

{% block content %}

<!-- Main content -->
<section class="slice py-7">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
                <!-- Image -->
                <figure class="w-100">
                    <img alt="Image placeholder" src="{% static 'img/svg/illustrations/illustration-3.svg' %}"
                        class="img-fluid mw-md-120">
                </figure>
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
                <!-- Heading -->
                <h1 class="display-4 text-center text-md-left mb-3">
                    Welcome to 
                </h1>
                <h1 class="display-4 text-center text-md-left mb-3">
                    <strong class="text-primary">计算机导论</strong>
                </h1>
                <!-- Text -->
                <p class="lead text-center text-md-left text-muted">
                    2023年秋，周爱民教授
                </p>
                <!-- Buttons -->
                <div class="text-center text-md-left mt-5">
                    <a href="intro_to_cs/" class="btn btn-primary btn-icon" target="_blank">
                        <span class="btn-inner--text">Get started</span>
                    </a>
                    <a href="/chat/"
                        class="btn btn-neutral btn-icon d-none d-lg-inline-block" target="_blank">Chat with Bot</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

