{% extends "base_home.html" %}

{% load wagtailcore_tags static %}

{% block content %}

<div class="tab-example-result mt-5 ml-10 mr-10" style="min-height: 55vh;">
    {% if answer_objects %}
    {% for answered_object in answer_objects %}
    <div id="accordion-{{ forloop.counter }}" class="accordion accordion-stacked">
        <!-- Accordion card 1 -->
        <div class="card">
            <div class="card-header py-4" id="heading-{{ forloop.counter }}-{{ forloop.counter }}"
                data-toggle="collapse" role="button" data-target="#collapse-{{ forloop.counter }}-{{ forloop.counter }}"
                aria-expanded="false" aria-controls="collapse-{{ forloop.counter }}-{{ forloop.counter }}">
                <h6 class="mb-0"><i data-feather="file" class="mr-3"></i>Question #{{ forloop.counter }}
                </h6>
            </div>
            <div id="collapse-{{ forloop.counter }}-{{ forloop.counter }}" class="collapse"
                aria-labelledby="heading-{{ forloop.counter }}-{{ forloop.counter }}"
                data-parent="#accordion-{{ forloop.counter }}">
                <div class="card-body">
                    <div class="container position-relative zindex-100">
                        <div class="row justify-content-center">
                            <div class="col-lg-6 text-center">
                                <h3>Question #{{ forloop.counter }}</h3>
                                <p class="lh-190">{{ answered_object.publish.question.question_text }} </p>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-lg-6 text-center">
                                <p> Your answer is: {{ answered_object.choice.choice_text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>暂无历史记录</p>
    {% endif %}
</div>
{% endblock %}