{% extends "base_home.html" %}

{% load wagtailcore_tags static %}

{% block content %}


<div class="tab-example-result mt-3 ml-sm-5 mr-sm-5 ml-lg-10 mr-lg-10" style="min-height: 55vh;">
    <div class="row mt-5">
        {% for chapter in root.get_children %}
        <div class="col-12">
            <div class="row">
                <div class="col-md-6 d-flex ">
                    <h4 class="h4">{{ chapter.title }}</h4>
                </div>
            </div>
            <div class="col-md-12 flex-column align-items-start justify-content-center">
                
                {% for md_page in chapter.get_children %}
                    <h5 class="h5 mt-3 mb-3">
                        {{ md_page.title }}
                    </h5>
                    
                    {% for question in questions %}
                        {% if question.page_id == md_page.id %}
                            {% include "polls/detail.html" with question=question answers=user_answer user_choice=user_choice%}
                        {% endif %}
                    {% endfor %}

                    {% for question in cloze_questions %}
                    {% if question.page_id == md_page.id %}
                        {% include "polls_cloze/detail.html" with cloze_question=cloze_question cloze_user_answer=cloze_user_answer cloze_user_choice=cloze_user_choice answered_publish_id=answered_publish_id%}
                    {% endif %}
                {% endfor %}
                    
                {% endfor %}
            </div>
        </div>
        <hr />
        {% endfor %}
    </div>
</div>

{% endblock %}