{% extends "base.html" %}

{% load wagtailcore_tags static %}

{% block content %}

{% if publish_objects %}

<div class="tab-example-result mt-3 ml-lg-10 mr-lg-10 " style="min-height: 55vh;">
    {% if unanswered_publish %}
    <div class="container position-relative zindex-100">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="alert alert-modern alert-primary">
                    <span class="badge badge-warning badge-pill">
                        New
                    </span>
                        <span class="alert-content" style="display: inline;">你有新的未完成的题目</span>
                </div>
            </div>
        </div>
    
    </div>
    {% endif %}

    {% for publish_object in publish_objects %}
    <div id="accordion-{{ forloop.counter }}" class="accordion accordion-stacked">
        <!-- Accordion card  -->
        <div class="card">

            {% if publish_object.publish_id in answered_publish_id %}
            <!-- Card Heading  -->
            <div class="card-header py-4" id="heading-{{ forloop.counter }}-{{ forloop.counter }}"
                data-toggle="collapse" role="button" data-target="#collapse-{{ forloop.counter }}-{{ forloop.counter }}"
                aria-expanded="false" aria-controls="collapse-{{ forloop.counter }}-{{ forloop.counter }}">
                <h6 class="mb-0"><i data-feather="file" class="mr-3"></i>
                    <span class="badge badge-success mr-4">Done</span>
                    Question #{{ forloop.counter }} {{ publish_object.question.question_text }}
                </h6>
            </div>
            <!-- Card body-->
            <div id="collapse-{{ forloop.counter }}-{{ forloop.counter }}" class="collapse"
                aria-labelledby="heading-{{ forloop.counter }}-{{ forloop.counter }}"
                data-parent="#accordion-{{ forloop.counter }}">
                <div class="card-body">
                    <div class="container position-relative zindex-100">
                        <!-- Question -->
                        <div class="row justify-content-center">
                            <div class="col-lg-6 text-center">
                                <h3>{{ publish_object.question.question_text }}</h3>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <p>{{ publish_object.question.body | richtext }}</h3>
                            </div>
                        </div>
                        <!-- Alerts -->
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <!-- Options -->
                                <div class="row justify-content-center">
                                    <div class="mb-3">
                                        <form>
                                            {% for choice in publish_object.question.choices.all %}
                                            <div class="custom-control custom-radio">
                                                <input type="radio" name="choice" class="custom-control-input" disabled>
                                                <label class="custom-control-label" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                                            </div>
                                            {% endfor %}
                                        </form>
                                    </div>
                                </div>
                                {% for publish in answered_publish %}
                                {% if publish_object.publish_id == publish.publish_id %}
                                <div class="row justify-content-center">
                                    <p>你已经回答了这个问题。</p>
                                    <p>你的答案是
                                        <span class="badge badge-soft-primary">{{ publish.choice.choice_text }}</span>。请等待问题结束后查看正确答案。<br>
                                    </p>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% elif publish_object.publish_id in answered_end_id %}
            <!-- Card Heading 
            <div class="card-header py-4 color" id="heading-{{ forloop.counter }}-{{ forloop.counter }}"
                data-toggle="collapse" role="button" data-target="#collapse-{{ forloop.counter }}-{{ forloop.counter }}"
                aria-expanded="false" aria-controls="collapse-{{ forloop.counter }}-{{ forloop.counter }}">
                <h6 class="mb-0"><i data-feather="file" class="mr-3"></i>
                    <span class="badge badge-success mr-4">Done</span>
                    Question #{{ forloop.counter }} {{ publish_object.question.question_text }}
                </h6>

            </div>
            Card body
            <div id="collapse-{{ forloop.counter }}-{{ forloop.counter }}" class="collapse"
                aria-labelledby="heading-{{ forloop.counter }}-{{ forloop.counter }}"
                data-parent="#accordion-{{ forloop.counter }}">
                <div class="card-body">
                    <div class="container position-relative zindex-100">
                        Question
                        <div class="row justify-content-center">
                            <div class="col-lg-6 text-center">
                                <h3>{{ publish_object.question.question_text }}</h3>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <p>{{ publish_object.question.body | richtext }}</h3>
                            </div>
                        </div>
                        Alerts
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                Options
                                <div class="row justify-content-center">
                                    <div class="mb-3">
                                        <form>
                                            {% for choice in publish_object.question.choices.all %}
                                            <div class="custom-control custom-radio">
                                                <input type="radio" name="choice" class="custom-control-input" disabled>
                                                <label class="custom-control-label"
                                                    for="choice-{{ forloop.counter }}">{{ choice.choice_text }}</label>
                                            </div>
                                            {% endfor %}
                                        </form>
                                    </div>
                                </div>
                                {% for publish in answered_end %}
                                {% if publish_object.publish_id == publish.publish_id %}
                                <div class="row justify-content-center">
                                    <p>
                                        你的答案是
                                        {% if publish.correct == True %}
                                        <span class="badge badge-soft-success">{{ publish.choice.choice_text }}</span>.
                                        {% else %}
                                        <span class="badge badge-soft-danger">{{ publish.choice.choice_text }}</span>.
                                        正确答案是
                                        <span class="badge badge-soft-success">{{ publish.publish.question.correct_choice }}</span>.
                                        {% endif %}
                                    </p>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            {% else %}
            
                <!-- Card Heading  -->
                <div class="card-header py-4" id="heading-{{ forloop.counter }}-{{ forloop.counter }}"
                    data-toggle="collapse" role="button" data-target="#collapse-{{ forloop.counter }}-{{ forloop.counter }}"
                    aria-expanded="false" aria-controls="collapse-{{ forloop.counter }}-{{ forloop.counter }}">
                    <h6 class="mb-0"><i data-feather="file" class="mr-3"></i>
                        <span class="badge badge-warning mr-4">New!</span>
                        Question #{{ forloop.counter }}   {{ publish_object.question.question_text }}
                    </h6>
                </div>
                <!-- Card body-->
                <div id="collapse-{{ forloop.counter }}-{{ forloop.counter }}" class="collapse"
                    aria-labelledby="heading-{{ forloop.counter }}-{{ forloop.counter }}"
                    data-parent="#accordion-{{ forloop.counter }}">
                    <div class="card-body">
                        <div class="container position-relative zindex-100">
                            <!-- Question -->
                            <div class="row justify-content-center">
                                <div class="col-lg-6 text-center">
                                    <h3>{{ publish_object.question.question_text }}</h3>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-6 text-center">
                                    <p>{{ publish_object.question.body | richtext }}</h3>
                                </div>
                            </div>
                            <!-- Alerts -->
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <!-- Form -->
                                    <div class="row justify-content-center">
                                        <div class="mb-3">
                                            <form action="{% url 'polls:vote' publish_object.publish_id %}" method="post">
                                                {% csrf_token %}
                                                {% for choice in publish_object.question.choices.all %}
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" name="choice" id="choice-{{ choice.id }}"
                                                        value="{{ choice.id }}" class="custom-control-input">
                                                    <label class="custom-control-label"
                                                        for="choice-{{ choice.id }}">{{ choice.choice_text }}</label>
                                                </div>
                                                {% endfor %}
                                                <div class="text-center">
                                                    <button type="submit" value="Vote"
                                                        class="btn btn-block btn-lg btn-primary mt-4">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<!-- No Question Available -->
{% else %}
<section class="slice py-7 ">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
                <!-- Image -->
                <figure class="w-100">
                    <img alt="Image placeholder" src="{% static 'img/svg/illustrations/illustration-2.svg' %}"
                        class="img-fluid mw-md-120">
                </figure>
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
                <!-- Heading -->
                <h1 class="display-4 text-center text-md-left mb-3">
                    {% if error_message %}
                    <p>{{ error_message }}</p>
                    {% else %}
                    <strong class="text-primary">暂无</strong>可做的问题。
                    {% endif %}
                </h1>
                <!-- Buttons -->
                <div class="text-center text-md-left mt-5">
                    <a href="/intro_to_cs/" class="btn btn-primary btn-icon" target="_self">
                        <span class="btn-inner--text">Return</span>
                    </a>
                    <!-- <a href="https://webpixels.io/illustrations"
                        class="btn btn-neutral btn-icon d-none d-lg-inline-block" target="_blank">Chat with Bot
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}

{% endblock %}