{% extends "base_home.html" %}

{% load wagtailcore_tags static %}

{% block content %}

{% if publish_objects %}
<div class="tab-example-result mt-5 ml-10 mr-10" style="min-height: 55vh;">
    {% for publish_object in publish_objects %}
    <div id="accordion-{{ forloop.counter }}" class="accordion accordion-stacked">
        <!-- Accordion card 1 -->
        <div class="card">
            <div class="card-header py-4" id="heading-{{ forloop.counter }}-{{ forloop.counter }}"
                data-toggle="collapse" role="button" data-target="#collapse-{{ forloop.counter }}-{{ forloop.counter }}"
                aria-expanded="false" aria-controls="collapse-{{ forloop.counter }}-{{ forloop.counter }}">
                <h6 class="mb-0"><i data-feather="file" class="mr-3"></i>Question #{{ forloop.counter }}
                </h6>
            </div>
            <div id="collapse-{{ forloop.counter }}-{{ forloop.counter }}" class="collapse"
                aria-labelledby="heading-{{ forloop.counter }}-{{ forloop.counter }}"
                data-parent="#accordion-{{ forloop.counter }}">
                <div class="card-body">


                    <div class="container position-relative zindex-100">
                        <div class="row justify-content-center">
                            <div class="col-lg-6 text-center">
                                <h3>Question #{{ forloop.counter }}</h3>
                                <p class="lh-190">{{ publish_object.question.question_text }}</p>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                {% if publish_object.publish_id in answered_publish_id %}

                                
                                    {% for publish in answered_publish %}
                                        {% if publish_object.publish_id == publish.publish_id %}
                                        <div class="row justify-content-center">
                                            <p>You've already answered this question.</p>
                                            <p>
                                                Your answer is
                                                <span class="badge badge-soft-primary">{{ publish.choice.choice_text }}</span>
                                                . Please wait the end of the publish.
                                            </p>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                
                                {% elif publish_object.publish_id in answered_end_id %}
                                    {% for publish in answered_end %}
                                        {% if publish_object.publish_id == publish.publish_id %}
                                        <div class="row justify-content-center">
                                            <p>
                                                你的答案是
                                                {% if publish.correct == True %}
                                                <span class="badge badge-soft-success">{{ publish.choice.choice_text }}</span>. 
                                                {% else %}
                                                <span class="badge badge-soft-danger">{{ publish.choice.choice_text }}</span>. 
                                                正确答案是
                                                <span class="badge badge-soft-success">{{ publish.publish.question.correct_choice }}</span>. 
                                                {% endif %}
                                            </p>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                
                                {% else %}
                                    <!-- Form -->
                                    <form action="{% url 'polls:vote' publish_object.publish_id%}" method="post">
                                        {% csrf_token %}
                                        {% for choice in publish_object.question.choices.all %}
                                        <div class="custom-control custom-radio">
                                            <input type="radio" name="choice" id="choice{{ forloop.counter }}"
                                                value="{{ choice.id }}" class="custom-control-input">
                                            <label class="custom-control-label" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                                        </div>
                                        {% endfor %}
                                        <div class="text-center">
                                            <button type="submit" value="Vote"
                                                class="btn btn-block btn-lg btn-primary mt-4">Submit</button>
                                        </div>
                                    </form>
                                
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<section class="slice py-7 ">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
                <!-- Image -->
                <figure class="w-100">
                    <img alt="Image placeholder" src="{% static 'img/svg/illustrations/illustration-2.svg' %}"
                        class="img-fluid mw-md-120">
                </figure>
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
                <!-- Heading -->
                <h1 class="display-4 text-center text-md-left mb-3">
                    {% if error_message %}
                    <p>{{ error_message }}</p>
                    {% else %}
                    <strong class="text-primary">No more questions</strong> are available now.
                    {% endif %}
                </h1>
                <!-- Buttons -->
                <div class="text-center text-md-left mt-5">
                    <a href="/intro_to_cs/" class="btn btn-primary btn-icon" target="_blank">
                        <span class="btn-inner--text">Return</span>
                    </a>
                    <!-- <a href="https://webpixels.io/illustrations"
                        class="btn btn-neutral btn-icon d-none d-lg-inline-block" target="_blank">Chat with Bot
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</section>


{% endif %}


{% endblock %}