*, *::before, *::after {
    box-sizing: border-box;
   }
     
    body {
     margin: 0;
   }
   
   .wrapper {
     height: 100vh;
     width: 100vw;
     display: flex;
   }
   
   .pane {
     padding: 1em;
     min-width: 200px;
   }
   
   .left {
     
   }
   
   .right {
     position: relative;
   }
   
   .gutter {
     width: 3px;
     height: 100%;
     background: #666;
     position: absolute;
     top: 0;
     left: 0;
     cursor: col-resize;
   }