{% load cache %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">eTextook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>

          {% cache 604800 navigation %}
              {% for item in navigation.menu_items.all %}
                  <li>
                      <a href="{{ item.link }}" class="nav-link"{% if item.open_in_new_tab %} target="_blank"{% endif %}>{{ item.title }}</a>
                  </li>
              {% endfor %}
          {% endcache %}
      </ul>
      <ul class="navbar-nav">
          <li class="nav-item">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.username }},
                <a href="{% url 'account_logout' %}">Logout?</a>
            {% else %}
                Hi guest! 
                <a href="{% url 'account_login' %}">Login?</a>
            {% endif %}
          </li>
      </ul>
  <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->
  </div>
</nav>