{% extends "base_page.html" %}

{% load wagtailcore_tags static  wagtailmarkdown %}


{% block content %}
{% with page.get_site.root_page as root %}
<div class="container-fluid container-docs">
    <!-- Sidenav -->
    <nav class="sidenav navbar navbar-vertical navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner px-4">
            <!-- Navigation -->
            <div class="docs-sidebar pt-6 pt-lg-7">
                {% if root.get_children %}
                {% for book in root.get_children %}
                <h5><a href="{% pageurl page.get_parent.get_parent %}">{{ book.title }}</a></h5>
                {% for chapter in book.get_children %}
                    <h6 class="mt-4"><a href="{% pageurl chapter %}">{{ chapter.title }}</a></h6>
                    <ul class="nav flex-column">
                        {% for post in chapter.get_children %}
                        <li class="nav-item">
                            <a href="{% pageurl post %}" class="nav-link">{{ post.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
                {% endfor %}
                {% endif %}

                
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="main-content row position-relative pb-5">
        <div class="col-xl-9 docs-content pb-5">
            <!-- Docs title -->
            <div class="docs-title">
                <h1>{{ page.title }}</h1>
            </div>
            <!-- Docs content -->
            {{ self.body|markdown }}
        </div>
        <!-- Document toc-->
        <div class="col-xl-3 docs-sidebar d-none d-xl-block">
            <div class="toc-sidebar pl-4 pr-4 mt-lg-8 border-left" 
            style="height: -webkit-fill-available; overflow: auto;">
                <div class="scrollbar-inner">
                    <h6 class="mb-3">Summary</h6>
                    <ul class="section-nav" , id="navbar">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endwith %}
{% endblock %}
