{% extends "allauth/layouts/index.html" %}
{% load wagtailcore_tags static allauth i18n account %}
{% block head_title %}
    {% trans "忘记密码" %}
{% endblock head_title %}
{% block content %}

<div class="card-body px-md-5 py-5">
    <div class="mb-3">
        <h6 class="h3">忘记密码</h6>
        <p class="text-muted mb-0">请在下面输入您的电子邮件地址，我们将向您发送一封电子邮件，允许您重新设置。</p>
    </div>
    <span class="clearfix"></span>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans '重置密码' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    <div class="mt-3">
        <p>{% blocktrans %}如果您在重设密码时遇到任何问题，请联系我们。{% endblocktrans %}</p>                  
    </div>
</div>

{% endblock %}